<a href="https://colab.research.google.com/github/seungm2n/PythonTest/blob/main/1_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd       # 판다스는 pandas 라이브러리를 임포트해야 사용 가능함. 보통 pd라는 약자(별칭)을 사용함.

In [ ]:
pd.DataFrame()

In [ ]:
df = pd.DataFrame()
print(type(df))

<class 'pandas.core.frame.DataFrame'>

- DataFrame은 2차원 테이블이고, 테이블의 한 줄 (행/열)을 Series라고 함.
- Series의 모임이 곧, DataFrame이 됨

In [ ]:
from numpy import NaN
# Series는
pd.Series([1, 3, 5, NaN, 6, 8])

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
stu_list = [['Michael', 'John', 'Jennie', 'Susan'], [19, 18, 17, 16]]
print(stu_list)

[['Michael', 'John', 'Jennie', 'Susan'], [19, 18, 17, 16]]

In [ ]:
print(type(stu_list))

<class 'list'>

In [ ]:
df = pd.DataFrame(stu_list)
df

         0     1       2      3
0  Michael  John  Jennie  Susan
1       19    18      17     16

In [ ]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
# 데이터 프레임의 로우와 컬럼 바꾸기
df = df.T
df

         0   1
0  Michael  19
1     John  18
2   Jennie  17
3    Susan  16

In [ ]:
colums_name = ['name','age']
df.columns = colums_name
df

      name age
0  Michael  19
1     John  18
2   Jennie  17
3    Susan  16